# Dependencies
node_modules/
.expo/

# Android build files
android/build/
android/.gradle/
android/app/build/
*.apk
*.aab

# iOS build files
ios/build/
ios/Pods/
*.ipa

# System files
.DS_Store
Thumbs.db
.env
# Firebase files
.firebase/
firebug.log*

# Environment variables (عشان هنحط فيها الـ Firebase API Keys)
.env
.env.local